{% block quotes %}
    <div class="site-section section-4">
        <div class="container">

            <div class="row justify-content-center text-center">
                <div class="col-md-7">
                    <div class="slide-one-item owl-carousel" style="padding-bottom: 10px">
                        <blockquote class="testimonial-1">
                            <span class="quote quote-icon-wrap"><span class="icon-format_quote"></span></span>
                            <h3 style="color : rosybrown">Development</h3>
                            <p>Developments in medical technology have long been confined to procedural or
                                pharmaceutical advances, while neglecting a most basic and essential component of
                                medicine: patient information management.</p>
                            <cite><span class="text-black">Richard Lamm</span> &mdash; <span
                                        class="text-muted">Brainy</span></cite>
                        </blockquote>

                        <blockquote class="testimonial-1">
                            <span class="quote quote-icon-wrap"><span class="icon-format_quote"></span></span>
                            <h3 style="color : rosybrown">Wave of the future</h3>
                            <p>If we can reduce the cost and improve the quality of medical technology through advances
                                in nanotechnology, we can more widely address the medical conditions that are prevalent
                                and reduce the level of human suffering.
                            </p>
                            <cite><span class="text-black">Ralph Merkle</span> &mdash; <span
                                        class="text-muted">Brainy <a
                                            href="#"> panel at the World Economic Forum</a></span></cite>
                        </blockquote>

                        <blockquote class="testimonial-1">
                            <span class="quote quote-icon-wrap"><span class="icon-format_quote"></span></span>
                            <h3 style="color : rosybrown">Major impact</h3>

                            <p>If I could time travel into the future, my first port of call would be the point where
                                medical technology is at its best because, like most people on this planet, I have this
                                aversion to dying.
                            </p>
                            <cite><span class="text-black">Neal Asher</span> &mdash; <span class="text-muted"><a
                                            href="#"> writing in Fast Company</a></span></cite>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}